#services{
         
    margin:50px 0 0 0;
width:100%;

}
.services-con {
    width:60%;margin:0 auto; 
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
   
}
.services-1 {
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center; 
 
    width:100%;
}
.services-1 h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    line-height: 1;
    font-weight: bold;
    font-size: 1.75rem;
    font-weight: 500;
}
.services-1 hr {border-top: 2px solid red; width:6%; height:2px; margin:30px 0 30px 0;}
.services-1 p {padding-bottom:20px; color: #95a0ab ;}

.services-2 {
    width:100%; margin:0 auto;
  

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:50px;
}
.services-2-1 {
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 30px 0;
margin-bottom:50px;
position:relative;top:0;
transition: all 0.5s;
}
.services-2 p {
    width:70px;height:70px; border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.services-2 span {
    color: #95a0ab ;
}
.services-2 h3 {
    font-size: 18px;
    margin:10px 0 20px 0;
    
}
.services-2 i {
    font-size: 32px; color:red;
}
.services-2-1:hover {
    top:-10px;
}
.services-2-1:hover i{
    color:white;
}
.services-2-1:hover p{
    background-color: red;
}


.services-2-2 {
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 30px 0;
margin-bottom:50px;
position:relative;top:0;
transition: all 0.5s;

}
.services-2-2:hover {
    top:-10px;
}
.services-2-2:hover i{
    color:white;
}
.services-2-2:hover p{
    background-color: red;
}

.services-2-3 {
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 30px 0;
margin-bottom:50px;
position:relative;top:0;
transition: all 0.5s;

}
.services-2-3:hover {
    top:-10px;
}
.services-2-3:hover i{
    color:white;
}
.services-2-3:hover p{
    background-color: red;
}

.services-2-4 {
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 30px 0;
margin-bottom:50px;
position:relative;top:0;
transition: all 0.5s;

}
.services-2-4:hover {
    top:-10px;
}
.services-2-4:hover i{
    color:white;
}
.services-2-4:hover p{
    background-color: red;
}

.services-2-5 {
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 30px 0;
margin-bottom:50px;
position:relative;top:0;
transition: all 0.5s;

}
.services-2-5:hover {
    top:-10px;
}
.services-2-5:hover i{
    color:white;
}
.services-2-5:hover p{
    background-color: red;
}

.services-2-6 {
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 30px 0;
margin-bottom:50px;
position:relative;top:0;
transition: all 0.5s;

}
.services-2-6:hover {
    top:-10px;
}
.services-2-6:hover i{
    color:white;
}
.services-2-6:hover p{
    background-color: red;
}
